<nav id="main-nav">
  <div class="toggle-nav">
    <i class="fa fa-bars sidebar-bar"></i>
  </div>
  <!-- Sample menu definition -->
  <ul id="main-menu" class="sm pixelstrap sm-horizontal">
    <li>
      <div class="mobile-back text-right">
        Atrás<i class="fa fa-angle-right pl-2" aria-hidden="true"></i>
      </div>
    </li>
    <li>
      <a [routerLink]="'/home'">{{ 'home' | translate }}</a>
    </li>
    <li class="mega"><a [routerLink]="['/home/categoria','Blusas']">{{ 'Blusas' | translate }}</a>
    </li>
    <li class="mega"><a [routerLink]="['/home/categoria','Vestidos']">{{ 'Vestidos' | translate }}</a>
    </li>
    <li class="mega"><a [routerLink]="'/pages/about-us'">{{ 'Quienes somos' | translate }}</a>
    </li>
    <li class="mega"><a [routerLink]="['/home/categoria','Videos']">{{ 'Galeria' | translate }}</a>
    </li>
  </ul>
</nav>
