<!-- Parallax banner -->
<section class="p-0">
    <div class="full-banner parallax parallax-banner16 p-left text-center">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="banner-contain">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Parallax banner end -->
