<app-slider-two></app-slider-two>
<div class="container box-layout bg-image">
  <app-product-slider-two [products]="products"></app-product-slider-two>
  <app-parallax-banner-two></app-parallax-banner-two>
  <app-product-tab-two [products]="products"></app-product-tab-two>
</div>
