<!-- Product slider -->
<section class="section-b-space ">
  <div class="container">
    <div class="title1">
      <!--<h4>special offer</h4>-->
      <h2 class="title-inner1">Nuevos productos</h2>
    </div>
    <div class="row">
      <div class="col">
        <ngx-slick-carousel class="product-4 product-m no-arrow" #slickModal="slick-carousel"
                            [config]="productSlideConfig">
          <div ngxSlickItem class="product-box" *ngFor="let product of products | slice:0:16">
            <app-product [product]="product"></app-product>
          </div>
        </ngx-slick-carousel>
      </div>
    </div>
  </div>
</section>
<!-- Product slider end -->
