<div class="row">
    <div class="col-xl-6 col-md-6 col-sm-12">
      <div class="footer-end">
        <p><i class="fa fa-copyright" aria-hidden="true"></i> {{today | date:'y'}} Algoritmia</p>
      </div>
    </div>
</div>
