a:hover {
  color: #3fdda7;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

a {
  text-decoration: none;
  background-color: transparent;
  text-transform: capitalize;
  color: #999999;
}
