<div class="row">
  <div class="col-lg-6">
    <div class="header-contact">
      <ul>
        <li>{{ 'topbar-title' | translate }}</li>
        <li><a href="https://api.whatsapp.com/send?phone=573137402856"><i class="fa fa-phone"
                                                                          aria-hidden="true"></i>{{ 'call-us' | translate }}
          : +57 310 5106977</a></li>

      </ul>
    </div>
  </div>
  <div class="col-lg-6 text-right">
    <ul class="header-dropdown">
      <li class="compare" style="padding-right: 15px !important;">
        <a href="https://www.facebook.com/Mixtura.Co/"><i class="fa fa-facebook-official" aria-hidden="true"></i>@mixtura.co</a>
      </li>
      <li class="mobile-wishlist">
        <a href="https://www.instagram.com/mixtura.co/"><i class="fa fa-instagram" aria-hidden="true"></i>@mixtura.co
        </a>
      </li>
    </ul>
  </div>
</div>

