<div class="img-wrapper">
  <div class="lable-block">
    <span class="lable3" *ngIf="product.split('.')[1]!=='mp4'" >new</span>
  </div>
  <div class="front">
    <a>
      <img *ngIf="product.split('.')[1]!=='mp4'" [src]="environment.urlImage+product" class="img-fluid" alt="">
      <video *ngIf="product.split('.')[1]==='mp4'" [src]="environment.urlImage+product" class="img-fluid"
             controls></video>
    </a>
  </div>
</div>
