<!-- footer -->
<footer>
  <div class="dark-layout">
    <div class="container">
      <section class="section-b-space border-b">
        <div class="row footer-theme2">
          <div class="col-lg-12">
            <div class="footer-title footer-mobile-title">
              <h4>Quienes somos</h4>
            </div>
            <div class="footer-contant">
              <div class="footer-logo">
                <img src="assets/images/icon/footerlogo.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class="sub-footer darker-subfooter">
    <div class="container">
      <app-copyright></app-copyright>
    </div>
  </div>
</footer>
<!-- end footer -->

<!-- Rtl start -->
<div class="rtl-btn" id="">
  <a href="javascript:void(0)" class="RTL_cls">
    RTL
  </a>
</div>
<!-- rtl end -->
<!-- tap to top -->
<div class="tap-top top-cls">
  <div>
    <i class="fa fa-angle-double-up"></i>
  </div>
</div>
<!-- tap to top -->
