<div class="footer-title">
    <h4>por qué elegimos</h4>
</div>
<div class="footer-contant">
    <ul>
        <li><a [routerLink]="">envío a toda colombia</a></li>
        <li><a [routerLink]="">Compra segura</a></li>
        <li><a [routerLink]="">Contacto 24x7</a></li>
    </ul>
</div>
