<!-- Tab product -->
<div class="title1 section-t-space">
  <!--<h4>exclusive products</h4>-->
  <h2 class="title-inner1">Nuestros productos</h2>
</div>
<section class="section-b-space p-t-0">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="theme-tab">
          <ul class="tabs tab-title">
            <!--<li class="current">-->
              <!--<a href="tab-4">New Products</a>-->
            <!--</li>-->
            <!--<li class="">-->
              <!--<a href="tab-5">Best Sellers</a>-->
            <!--</li>-->
          </ul>
          <div class="tab-content-cls">
            <div id="tab-4" class="tab-content active default">
              <div class="no-slider row">
                <div class="product-box" *ngFor="let product of products | slice:0:8">
                  <app-product [product]="product"></app-product>
                </div>
              </div>
            </div>
            <div id="tab-5" class="tab-content">
              <div class=" no-slider row">
                <div class="product-box" *ngFor="let product of products | slice:8:16">
                  <app-product [product]="product"></app-product>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Tab product end -->
