<div class="collection-mobile-back" (click)="mobileFilterBack()">
  <span class="filter-back">
    <i class="fa fa-angle-left" aria-hidden="true"></i> Atrás
</span>
</div>
<div class="collection-collapse-block border-0 open">
  <h3 class="collapse-block-title">Categoría</h3>
  <div class="collection-collapse-block-content">
    <div class="collection-brand-filter">
      <ul class="category-list">
        <li><a [routerLink]="'/home/categoria/Blusas'">Blusas</a></li>
        <li><a [routerLink]="'/home/categoria/Vestidos'">Vestidos</a></li>
      </ul>
    </div>
  </div>
</div>
