.video {
  height: 100%;
  width: 100%;
  min-width: 100%;
}

.home36 {
  background: url(/assets/images/parallax/16.jpg) !important;
  background-size: 95%;
  background-repeat: no-repeat !important;
  background-position: center;
  @media only screen and (max-width: 768px) {
    background-size: 217% !important;
    /* background-position: center; */
    /* background-position-x: 34%!important; */
    background-position-y: center !important;
  }
}
