<!-- Home slider -->
<section class="p-0">
  <ngx-slick-carousel class="home-slider" #slickModal="slick-carousel" [config]="sliderConfig">
    <div ngxSlickItem>
      <div class="home home36 text-center ">
      </div>
    </div>
  </ngx-slick-carousel>
</section>
<!-- Home slider end -->
