<div class="footer-title">
    <h4>Categorías</h4>
</div>
<div class="footer-contant">
    <ul>
        <li><a [routerLink]="'/home/categoria/Blusas'">Blusas</a></li>
        <li><a [routerLink]="'/home/categoria/Vestidos'">Vestidos</a></li>
    </ul>
</div>
